body {
  text-align: center;
  background-color: aqua;
}

button {
  background-color: whitesmoke;
  width: 20px;
  height: 20px;
  /*margin-top: 50%;*/
  border-radius: 0px;
  border: none;
  margin-left: 5px;
}

p {
  font-family: 'Roboto', monospace;
  margin-top: 10%;
  font-size: 3rem;
  animation: fade 2s alternate;
}

@keyframes fade {
  0%, 100% {
    opacity: 100%;
    margin-top: 10%;
  }
  50% {
    opacity: 0%;
    transform: rotate(360deg);
    font-size: 1rem;
    margin-top: 50%;
  }
}
